<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:\work\MyLearn\gradle\src\main\resources\db\db_first.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">com.hibernate.dialect.SQLiteDialect</property>
        <property name="generate_statistics">false</property>

        <!--<mapping resource="entities/........hbm.xml"/>-->
        <mapping resource="com/hibernate/entities/Students.hbm.xml"/>

    </session-factory>
</hibernate-configuration>