<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <!--  Oracle 10g Configuration -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521/orcl</property>
        <property name="connection.username">CSA</property>
        <property name="connection.password">123456</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>

        <!-- Mapping files -->
        <mapping resource="hibernate/entities/Student.hbm.xml"/>
        <mapping resource="hibernate/entities/Course.hbm.xml"/>

        <!-- Common -->

    </session-factory>
</hibernate-configuration>
