<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Struts Blank Application</display-name>

    <!--Здесь необходимо описать главный сервлет Struts и другие параметры struts-->
    <!-- Standard Action Servlet Configuration (with debugging) -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Standard Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!-- The Usual Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Struts Tag Library Descriptors -->
    <!--Как настроить подключение библиотек struts написано тут: https://www.mkyong.com/struts/configure-the-struts-tag-libraries/
        я выбрал второй вариант, поэтому в этом файле не надо описывать <taglib-uri> Struts библиотек
    Так же необходимо что бы после разворачивания проекта jarники struts попадали в папку \WEB-INF\lib, настроить артефакт или через Gradle
    -->



    <!-- Далее можно описывать пользовательские библиотеки и сервлеты-->
    <jsp-config>
        <!--Добавим информацию о доступной библиотеке-->
        <taglib>
            <taglib-uri>/my_tld</taglib-uri>                              <!--Имя используемое в JSP при импорте-->
            <taglib-location>/WEB-INF/lib/my_tld.tld</taglib-location>    <!--Физическое положение относительно root директории-->
        </taglib>
    </jsp-config>

</web-app>